<head>
<%= stylesheet_link_tag "home"%>
<%= stylesheet_link_tag "adipoli"%>

</head>
<body>
<!-- Navbar -->
<div class="wrap" id="logo-header">
	<span id="logo"><%= image_tag "gyara.png" %></span>
	<table id="resources">
	<tr>
		<td>joshwolters12@gmail.com | (630) 542-7152</td>
	</tr>
	<tr>
		<td id="icon"><%= image_tag "logo_facebook.png" %></td>
		<td id="icon"><%= image_tag "logo_twitter.png" %></td>
	<tr>
	</table>
</div>

<div class="no-wrap">
	<ul>
		<li><a id="end1" href="../">home</a><li>
		<li><a id="nav-select" href="../branding">branding</a><li>
		<li><a href="../consulting">consulting</a><li> 
		<li><a href="../about_us">about us</a><li> 
		<li><a id="end2" href="../contact">contact</a><li> 
	</ul>
	<div id="guideline1">
	</div>
</div>

<!-- Body-->
<div id="gradient">
<div id="body_no_radius">
	<h1>Portfolio</h1>
	<div id="container">
			<img class="transparent" src="../assets/img2/slide5.jpg"></img>
			<img class="transparent" src="../assets/img2/slide6.jpg"></img>
			<img class="transparent" src="../assets/img2/slide6.jpg"></img>
			<img class="transparent" src="../assets/img2/slide5.jpg"></img>
	</div>
</div>
<div id="text">
	<h1>Some stuff here?<h1>
	<p>We could write some stuff in this area with more details possibly.</p>
<div>

<script type='text/javascript' src='../assets/testing.js'></script> 
<script type='text/javascript' src='../assets/jquery-1.7.1.js'></script> 
<script type='text/javascript' src='../assets/jquery.adipoli.min.js'></script> 

<script>
jQuery(function(){
    jQuery('.transparent').adipoli({
      'startEffect' : 'grayscale',
      'hoverEffect' : 'normal'
  	});
});
</script>

</body>
</div>
<html>

