<head>
<%= stylesheet_link_tag "home"%>
<%= stylesheet_link_tag "camera"%>

<style>
	body {
		margin: 0;
		padding: 0;
	}
	a {
		color: #09f;
	}
	a:hover {
		text-decoration: none;
	}
	#back_to_camera {
		clear: both;
		display: block;
		height: 80px;
		line-height: 40px;
		padding: 20px;
	}
	.fluid_container {
		margin: 0 auto;
		max-width: 1000px;
		width: 90%;
	}
</style>

</head>
<body>
<!-- Navbar -->
<div class="wrap" id="logo-header">
	<span id="logo"><%= image_tag "gyara.png" %></span>
	<table id="resources">
	<tr>
		<td>joshwolters12@gmail.com | (630) 542-7152</td>
	</tr>
	<tr>
		<td id="icon"><%= image_tag "logo_facebook.png" %></td>
		<td id="icon"><%= image_tag "logo_twitter.png" %></td>
	<tr>
	</table>
</div>

<div class="no-wrap">
	<ul>
		<li><a id="end1" href="../">home</a><li>
		<li><a href="../branding">branding</a><li>
		<li><a href="../consulting">consulting</a><li> 
		<li><a href="../about_us">about us</a><li> 
		<li><a id="end2" href="../contact">contact</a><li> 
	</ul>
</div>

<!-- Body-->

<div id="body1">
	<span id="inspiration"><%= image_tag "inspiration.png" %></span>
	<table class="table-center">
		<tr>
			<td id="bodynav_brand"></td>
			<td id="bodynav_design"></td>
			<td id="bodynav_numbers"></td>
		</tr>
	</table>
	<div class="camera_wrap">
    <div data-src="assets/img/example-slide-1.jpg"></div>
    <div data-src="assets/img/example-slide-2.jpg"></div>
    <div data-src="assets/img/example-slide-3.jpg"></div>
    <div data-src="assets/img/example-slide-4.jpg"></div>
</div>
</div>

<script type='text/javascript' src='../assets/testing.js'></script> 
<script type='text/javascript' src='../assets/jquery.js'></script>
<script type='text/javascript' src='../assets/jquery.mobile.customized.min.js'></script>
<script type='text/javascript' src='../assets/jquery.easing.1.3.js'></script> 
<script type='text/javascript' src='../assets/camera.min.js'></script> 


<script>
	jQuery(function(){
		jQuery('.camera_wrap').camera({
			thumbnails: true,
			height: '300px',
		});
	});
</script>
</body>
<html>

